body {
    margin: 0;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
}

.center-align {
    left: 50%;
    text-align: center;
}

.snackbar-success {
    background-color: #388e3c; 
}
