
.card {
    flex-basis: calc(20% - 4rem);
    flex-grow: 1;
    flex-shrink: 0;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.card-td {
    width: 20%;
    height: 85%;
}


.job-card {
    margin: 1rem 1rem 1rem 1rem;

    #view-job {
        margin: auto;
        bottom: 0px;
    }

    #view-job-div {
        margin-top: auto;
    }

    #edit-job {
      margin: auto;
      bottom: 0px;
    }

    #edit-job-div {
        margin-top: auto;
    }
}

.job-description-card {
    width: 650px;

    #apply {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    }
}